# Copyright (C) 2017-2020 Maciej Delmanowski <drybjed@gmail.com>
# Copyright (C) 2017-2020 DebOps <https://debops.org/>
# SPDX-License-Identifier: GPL-3.0-or-later
Sphinx
ansible-lint
pycodestyle
reuse
sphinx-rtd-theme
yamllint
